<li class="list-group-item">
  <b>{{$ctrl.outgoing.recipient}}</b>
  <span>{{$ctrl.outgoing.theme}}</span>
  <span class="pull-right" style="cursor:pointer;" ng-click="showLetter=!showLetter">
      <span class="glyphicon glyphicon-eye-open" style="margin-left: 5px;" ng-show="!showLetter"></span>
  <span class="glyphicon glyphicon-remove" style="margin-left: 5px;" ng-show="showLetter"></span>
  </span>
  <div class="panel panel-default" ng-if="showLetter">
    <div class="panel-body">
      {{$ctrl.outgoing.letter}}
    </div>
  </div>
</li>
